In [53]:

import pandas as pd
import numpy as np

import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [54]:
depressive_tweets_df = pd.read_csv('C:/Users/User/Desktop/Detecting-Depression-in-Social-Media-via-Twitter-Usage-main/Detecting depression/depression/depressive_unigram_tweets.csv')

C:\Users\User\Anaconda3\envs\py3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
depressive_tweets_df.head()

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [56]:
depression_tweets_df = pd.read_csv('C:/Users/User/Desktop/Detecting-Depression-in-Social-Media-via-Twitter-Usage-main/Detecting depression/depression/depressive_unigram_tweets.csv')

C:\Users\User\Anaconda3\envs\py3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [57]:
depression_tweets_df.head()

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [42]:
#depression_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [43]:
#depression_tweets_df.head()

In [44]:
#depressed_tweets_df = pd.read_csv('depressed/tweets.csv')

In [45]:
#depressed_tweets_df.head()

In [46]:
#depressed_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [47]:
#depressed_tweets_df.head()

In [58]:
hopeless_tweets_df = pd.read_csv('C:/Users/User/Desktop/Detecting-Depression-in-Social-Media-via-Twitter-Usage-main/Detecting depression/depression/tweets.csv')

In [59]:
hopeless_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1151347096966041603,1151347096966041603,1563337513000,2019-07-16,21:25:13,PDT,68141680,paulsonmyheart,wit ☾ h♥️,NaN,...,0,[],[],https://twitter.com/PaulsonMyHeart/status/1151...,NaN,NaN,0,NaN,NaN,NaN
1,1151347069627576320,1150980638247231489,1563337507000,2019-07-16,21:25:07,PDT,1125157678957907970,gaymiyas,robin,NaN,...,0,[],[],https://twitter.com/gaymiyas/status/1151347069...,NaN,NaN,0,NaN,NaN,NaN
2,1151347066255396865,1151347066255396865,1563337506000,2019-07-16,21:25:06,PDT,988965488918253568,authornesiewing,Author Nesi Ewing,NaN,...,0,"['#depression', '#uncoveringthenewu', '#change...",[],https://twitter.com/AuthorNesiEwing/status/115...,NaN,NaN,0,NaN,NaN,NaN
3,1151347022789611520,1151343977267892225,1563337495000,2019-07-16,21:24:55,PDT,794267753179992064,sebsmish,andaluna 🌙,NaN,...,0,[],[],https://twitter.com/sebsmish/status/1151347022...,NaN,NaN,0,NaN,NaN,NaN
4,1151347006406893568,1151347006406893568,1563337491000,2019-07-16,21:24:51,PDT,1121246242401660928,gbrrants,femme brulee 2,NaN,...,0,[],[],https://twitter.com/gbrrants/status/1151347006...,NaN,NaN,0,NaN,NaN,NaN

In [60]:
hopeless_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [61]:
hopeless_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1151347096966041603,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1151347069627576320,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,1151347066255396865,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,1151347022789611520,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,1151347006406893568,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [62]:
lonely_tweets_df = pd.read_csv('C:/Users/User/Desktop/Detecting-Depression-in-Social-Media-via-Twitter-Usage-main/Detecting depression/depression/tweets.csv')

In [63]:
lonely_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1151347096966041603,1151347096966041603,1563337513000,2019-07-16,21:25:13,PDT,68141680,paulsonmyheart,wit ☾ h♥️,NaN,...,0,[],[],https://twitter.com/PaulsonMyHeart/status/1151...,NaN,NaN,0,NaN,NaN,NaN
1,1151347069627576320,1150980638247231489,1563337507000,2019-07-16,21:25:07,PDT,1125157678957907970,gaymiyas,robin,NaN,...,0,[],[],https://twitter.com/gaymiyas/status/1151347069...,NaN,NaN,0,NaN,NaN,NaN
2,1151347066255396865,1151347066255396865,1563337506000,2019-07-16,21:25:06,PDT,988965488918253568,authornesiewing,Author Nesi Ewing,NaN,...,0,"['#depression', '#uncoveringthenewu', '#change...",[],https://twitter.com/AuthorNesiEwing/status/115...,NaN,NaN,0,NaN,NaN,NaN
3,1151347022789611520,1151343977267892225,1563337495000,2019-07-16,21:24:55,PDT,794267753179992064,sebsmish,andaluna 🌙,NaN,...,0,[],[],https://twitter.com/sebsmish/status/1151347022...,NaN,NaN,0,NaN,NaN,NaN
4,1151347006406893568,1151347006406893568,1563337491000,2019-07-16,21:24:51,PDT,1121246242401660928,gbrrants,femme brulee 2,NaN,...,0,[],[],https://twitter.com/gbrrants/status/1151347006...,NaN,NaN,0,NaN,NaN,NaN

In [64]:
lonely_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [65]:
lonely_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1151347096966041603,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1151347069627576320,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,1151347066255396865,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,1151347022789611520,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,1151347006406893568,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [66]:
antidepressant_tweets_df = pd.read_csv('C:/Users/User/Desktop/Detecting-Depression-in-Social-Media-via-Twitter-Usage-main/Detecting depression/depression/tweets.csv')

In [67]:
antidepressant_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1151347096966041603,1151347096966041603,1563337513000,2019-07-16,21:25:13,PDT,68141680,paulsonmyheart,wit ☾ h♥️,NaN,...,0,[],[],https://twitter.com/PaulsonMyHeart/status/1151...,NaN,NaN,0,NaN,NaN,NaN
1,1151347069627576320,1150980638247231489,1563337507000,2019-07-16,21:25:07,PDT,1125157678957907970,gaymiyas,robin,NaN,...,0,[],[],https://twitter.com/gaymiyas/status/1151347069...,NaN,NaN,0,NaN,NaN,NaN
2,1151347066255396865,1151347066255396865,1563337506000,2019-07-16,21:25:06,PDT,988965488918253568,authornesiewing,Author Nesi Ewing,NaN,...,0,"['#depression', '#uncoveringthenewu', '#change...",[],https://twitter.com/AuthorNesiEwing/status/115...,NaN,NaN,0,NaN,NaN,NaN
3,1151347022789611520,1151343977267892225,1563337495000,2019-07-16,21:24:55,PDT,794267753179992064,sebsmish,andaluna 🌙,NaN,...,0,[],[],https://twitter.com/sebsmish/status/1151347022...,NaN,NaN,0,NaN,NaN,NaN
4,1151347006406893568,1151347006406893568,1563337491000,2019-07-16,21:24:51,PDT,1121246242401660928,gbrrants,femme brulee 2,NaN,...,0,[],[],https://twitter.com/gbrrants/status/1151347006...,NaN,NaN,0,NaN,NaN,NaN

In [68]:
antidepressant_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [69]:
antidepressant_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1151347096966041603,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1151347069627576320,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,1151347066255396865,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,1151347022789611520,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,1151347006406893568,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [70]:
antidepressants_tweets_df = pd.read_csv('C:/Users/User/Desktop/Detecting-Depression-in-Social-Media-via-Twitter-Usage-main/Detecting depression/depression/tweets.csv')

In [72]:
antidepressants_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1151347096966041603,1151347096966041603,1563337513000,2019-07-16,21:25:13,PDT,68141680,paulsonmyheart,wit ☾ h♥️,NaN,...,0,[],[],https://twitter.com/PaulsonMyHeart/status/1151...,NaN,NaN,0,NaN,NaN,NaN
1,1151347069627576320,1150980638247231489,1563337507000,2019-07-16,21:25:07,PDT,1125157678957907970,gaymiyas,robin,NaN,...,0,[],[],https://twitter.com/gaymiyas/status/1151347069...,NaN,NaN,0,NaN,NaN,NaN
2,1151347066255396865,1151347066255396865,1563337506000,2019-07-16,21:25:06,PDT,988965488918253568,authornesiewing,Author Nesi Ewing,NaN,...,0,"['#depression', '#uncoveringthenewu', '#change...",[],https://twitter.com/AuthorNesiEwing/status/115...,NaN,NaN,0,NaN,NaN,NaN
3,1151347022789611520,1151343977267892225,1563337495000,2019-07-16,21:24:55,PDT,794267753179992064,sebsmish,andaluna 🌙,NaN,...,0,[],[],https://twitter.com/sebsmish/status/1151347022...,NaN,NaN,0,NaN,NaN,NaN
4,1151347006406893568,1151347006406893568,1563337491000,2019-07-16,21:24:51,PDT,1121246242401660928,gbrrants,femme brulee 2,NaN,...,0,[],[],https://twitter.com/gbrrants/status/1151347006...,NaN,NaN,0,NaN,NaN,NaN

In [73]:
antidepressants_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [75]:
antidepressants_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1151347096966041603,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1151347069627576320,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,1151347066255396865,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,1151347022789611520,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,1151347006406893568,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [76]:
suicide_tweets_df = pd.read_csv('C:/Users/User/Desktop/Detecting-Depression-in-Social-Media-via-Twitter-Usage-main/Detecting depression/depression/tweets.csv')

In [77]:
suicide_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1151347096966041603,1151347096966041603,1563337513000,2019-07-16,21:25:13,PDT,68141680,paulsonmyheart,wit ☾ h♥️,NaN,...,0,[],[],https://twitter.com/PaulsonMyHeart/status/1151...,NaN,NaN,0,NaN,NaN,NaN
1,1151347069627576320,1150980638247231489,1563337507000,2019-07-16,21:25:07,PDT,1125157678957907970,gaymiyas,robin,NaN,...,0,[],[],https://twitter.com/gaymiyas/status/1151347069...,NaN,NaN,0,NaN,NaN,NaN
2,1151347066255396865,1151347066255396865,1563337506000,2019-07-16,21:25:06,PDT,988965488918253568,authornesiewing,Author Nesi Ewing,NaN,...,0,"['#depression', '#uncoveringthenewu', '#change...",[],https://twitter.com/AuthorNesiEwing/status/115...,NaN,NaN,0,NaN,NaN,NaN
3,1151347022789611520,1151343977267892225,1563337495000,2019-07-16,21:24:55,PDT,794267753179992064,sebsmish,andaluna 🌙,NaN,...,0,[],[],https://twitter.com/sebsmish/status/1151347022...,NaN,NaN,0,NaN,NaN,NaN
4,1151347006406893568,1151347006406893568,1563337491000,2019-07-16,21:24:51,PDT,1121246242401660928,gbrrants,femme brulee 2,NaN,...,0,[],[],https://twitter.com/gbrrants/status/1151347006...,NaN,NaN,0,NaN,NaN,NaN

In [78]:
suicide_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [79]:
suicide_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1151347096966041603,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1151347069627576320,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,1151347066255396865,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,1151347022789611520,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,1151347006406893568,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [80]:
df_row_reindex = pd.concat([depression_tweets_df, hopeless_tweets_df, lonely_tweets_df, antidepressant_tweets_df, antidepressants_tweets_df, suicide_tweets_df], ignore_index=True)

df_row_reindex

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]
...,...,...,...,...,...,...
259802,NaN,1150918035303227392,17:00:17,Depression is real,[],[]
259803,NaN,1150918018735714305,17:00:13,Even though Tropical Depression Barry did not ...,[],[]
259804,NaN,1150918006903435264,17:00:10,https://medtally.com/post/cluster-analysis-wi...,"['#depression', '#depressed', '#antidepressant...",[]
259805,NaN,1150918000725417985,17:00:09,مش لاقى أى مبرر لل sudden depression attack ال...,[],[]
259806,NaN,1150917987605438466,17:00:05,New clinical trial for #depression: Task Shift...,['#depression'],[]

In [81]:
df = df_row_reindex

In [82]:
depressive_twint_tweets_df = df_row_reindex
depressive_twint_tweets_df.head()

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [83]:
depressive_twint_tweets_df = df.drop_duplicates()

In [84]:
depressive_twint_tweets_df

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]
...,...,...,...,...,...,...
160354,NaN,1150918035303227392,17:00:17,Depression is real,[],[]
160355,NaN,1150918018735714305,17:00:13,Even though Tropical Depression Barry did not ...,[],[]
160356,NaN,1150918006903435264,17:00:10,https://medtally.com/post/cluster-analysis-wi...,"['#depression', '#depressed', '#antidepressant...",[]
160357,NaN,1150918000725417985,17:00:09,مش لاقى أى مبرر لل sudden depression attack ال...,[],[]
160358,NaN,1150917987605438466,17:00:05,New clinical trial for #depression: Task Shift...,['#depression'],[]

In [85]:
export_csv = depressive_twint_tweets_df.to_csv(r'depressive_unigram_tweets_final.csv')